/** esto es una hoja de estilos externa **/


body {
    background-color:rgb(41, 91, 218);
    background-image: url("img/formula.png");
    background-size: cover;
 }

 #contenido {
    width: 1000px; 
    margin: 100px auto;

 }