/** esto es una hoja de estilos externa **/


body {
    background-color:rgb(41, 91, 218);
    background-image: url("../img3/formula.png");
 }

 #contenido {
    width: 1000px; 
    margin: 100px auto;  

 }

 .centrado {
   display: flex;
   justify-content: center;
   align-items: center;
}